%h1 test
= @signup.errors.full_messages if @signup.errors.messages.present?
= form_for @signup, url: setup_path do |f|
  %ul#lists.clearfix
    - @lists.each do |l|
      %li.pull-left.clear
        = f.radio_button :list_id, l.id
        = f.label :list_id, l.name
  = f.label :keyword, 'url keyword'
  = f.text_field :keyword
  = f.submit :class => "btn btn-primary"

